* {
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
    margin: 0;
    overflow: hidden;
    height: 100%;
}

canvas {
    display: block;
}

a {
    text-decoration: none;
}

h4 {
    margin: 0;
}

.hidden {
    display: none !important;
}