* {
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
    margin: 0;
    overflow: hidden;
    height: 100%;
}

canvas {
    display: block;
}

a {
    text-decoration: none;
}

h4 {
    margin: 0;
}

.hidden {
    display: none !important;
}

#tooltip {
    position: fixed;
    padding: 16px;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(5px);
    color: #ffffff;
    font-family: Arial, sans-serif;
    border-radius: 8px;
}

.root {
    display: flex;

    height: 100%;
}

.canvas-wrapper,
.content-wrapper {
    width: 50%;
    height: 100%
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 16px;
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
}

.content__max-width-wrapper {
    max-width: 500px;
}

.content__title-text {
    text-transform: uppercase;
    font-style: italic;
}

.content__text {
    color: gray;
    margin-bottom: 30px;
}

.content__button {
    background-color: green;
    color: white;
    padding: 16px;
    border-radius: 20px;
}


@media screen and (max-width: 800px) {
    body {
        overflow-y: auto;
    }

    .root {
        flex-direction: column;
    }

    .canvas-wrapper,
    .content-wrapper {
        width: 100%;
        height: 100%
    }
}